.display {
    text-align: center;
    height: 4em; 
    line-height: 4em; 
    margin: 10px auto;
    border: 2px solid mediumslateblue;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    height: 80px;
    width: 180px;
    background-color: rgb(255, 255, 255);
    color: mediumslateblue;
    font-weight: bolder;   
    }

    .redDisplay {
        color: rgb(176, 255, 196);
        text-align: center;
        height: 4em; 
        line-height: 4em; 
        margin: 10px auto;
        border: 2px solid mediumslateblue;
        border-radius: 5px;
        font-size: 20px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        height: 80px;
        width: 180px;
        background-color: rgb(253, 143, 170);
        font-weight: bolder;  
        
        }
   